* {
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
#top-nav {
    list-style-type: none;
    margin: 10px 20px;
    padding: 0;
    overflow: hidden;
}

#top-nav li {
    float: right;
    height: 40px;
}

#top-nav a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 13px;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
    padding: 9px;
}

a:hover {
    text-decoration: underline;
}

#profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#grid {
    height: 20px;
    width: 20px;
}

main {
    text-align: center;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0);
}

#google-logo {
    width: 250px;
    height: 90px;
}

#search-box {
    display: block;
    width: 550px;
    height: 45px;
    border-radius: 50px;
    border: 0.5px solid rgb(173, 171, 171, 0.5);
    margin: 10px;
    line-height: 100%;
}

#search-text {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

#glass {
    width: 5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: small;
}

#svgSpan {
    display: inline-block;
    height: 20px;
    width: 20px;
}

svg {
    display: block;
    height: 100%;
    width: 100%;
    font-size: small;
    color: #9AA0A6;    
    fill: currentColor;
    overflow: hidden;
    line-height: 24px;
}
#query-box {
    display: flex;
    flex: 1;
    margin: 2px 0;
}

#query {
    display: flex;
    flex: 100%;
    font-size: 16px;
    border: none;
    outline: none;
} 
#mic {
    width: 5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    /* background: transparent; */
    cursor: pointer;
}

#micSpan {
    background: url('../assets/mic.png') 0 0 no-repeat;
    background-size: 15px;
    height: 24px;
    width: 24px;
}

#query:hover {
    outline: none;
}

#search-box:hover, #search-box:focus {
    border:none;
    outline: none;
    box-shadow: 0 0 5px  rgb(175, 173, 173);
}

#search-button, #lucky-button {
    background-color: #f2f2f2;;
    color: #5F6368;
    border: 1px solid #f2f2f2;;
    border-radius: 4px;
    padding: 10px 10px;
    margin: 20px 4px;
    font-size: 14px;
    cursor: pointer;
} 

#search-button:hover, #lucky-button:hover {
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#search-button:focus, #lucky-button:focus {
    border: 1px solid #4d90fe;
    outline:none;
    
}

#langs {
    color: darkgray;
    padding: 10px;
    font-size: small;
}

span {
    color: #222;
}
main a {
    color: blue;
    padding: 5px;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: rgba(240, 240, 240, 0.8);
}

footer div {
    margin: 0;
    height: 40px;
    width: 100%;
    border-top: 1px solid #e4e4e4;;
}

footer p {
    position: relative;
    left: 22px;
    color:rgba(0, 0, 0, 0.54) ;
    padding: 10px;
}

footer ul {
    height: 40px;
}

footer li{
    text-align: center;

}

footer a{
    height: 100%;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color:#5f6368;
}
footer .left {
    position: relative;
    left: 22px;
    float: left;
}

footer .right {
    position: relative;
    right: 20px;
    float: right;
}


